<div id="min-width">
    <div id="container">
        <div id="header">
            <h1>Проверка работы КриптоПро ЭЦП Browser plug-in</h1>
            <div id="promo"></div>
            <div class="mainContent">
                <div id="left-col">
                    <div id="info">
                        <div id="info_msg" style="text-align:center;">
                            <span id="PlugInEnabledTxt">Проверка</span>
                            <br>
                            <span id="PlugInVersionTxt" lang="ru"> </span>
                            <span id="CSPVersionTxt" lang="ru"> </span>
                            <br>
                            <span id="CSPNameTxt" lang="ru"> </span>    
                        </div>
                    </div>
                    <div id="boxdiv" style="display:none">
                        <span id="errorarea">
                            У вас отсутствуют личные сертификаты. Вы можете получить сертификат от тестового УЦ, предварительно установив корневой сертификат тестового УЦ в доверенные.
                        </span>
                    </div>
                </div>
                            
                <div id="cert_info">
                    <h2>Информация о сертификате</h2>
                    <p class="info_field" id="subject"></p>
                    <p class="info_field" id="issuer"></p>
                    <p class="info_field" id="from"></p>
                    <p class="info_field" id="till"></p>
                    <p class="info_field" id="provname"></p>
                    <p class="info_field" id="algorithm"></p>
                    <p class="info_field" id="status"></p>
                </div>
                <p id="info_msg">Данные для подписи:</p>
                <div id="item_border">
                    <textarea id="DataToSignTxtBox" name="DataToSignTxtBox" readonly style="height:20px;width:100%;resize:none;border:0;">
                                        </textarea>
                </div>
                <p> </p>
                <p id="info_msg" name="SignatureTitle">Подпись:</p>
                <div id="item_border">
                    <textarea id="SignatureTxtBox" readonly style="font-size:9pt;height:300px;width:100%;resize:none;border:0;">
                                        </textarea>
                    <script language="javascript">
                        var txtDataToSign = "Hello World";
                        document.getElementById("DataToSignTxtBox").innerHTML = txtDataToSign;
                        var canPromise = !!window.Promise;
                        if (canPromise) {
                            cadesplugin.then(function() {
                                    Common_CheckForPlugIn();
                                    Common_CreateSimpleSign();
                                },
                                function(error) {
                                    document.getElementById('PlugInEnabledTxt').innerHTML = error;
                                }
                            );
                        } else {
                            window.addEventListener("message", function(event) {
                                    if (event.data == "cadesplugin_loaded") {
                                        CheckForPlugIn_NPAPI('isPlugInEnabled');
                                        CreateSimpleSign_NPAPI();
                                    } else if (event.data == "cadesplugin_load_error") {
                                        document.getElementById('PlugInEnabledTxt').innerHTML = "Плагин не загружен";
                                    }
                                },
                                false);
                            window.postMessage("cadesplugin_echo_request", "*");
                        }
                    </script>
                </div>
            </div>

        </div>
                
    </div>

</div>

<h3>Выберите файл для загрузки</h3>
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" /><br>
    <input type="submit" value="Загрузить" />
}
   

